@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__user-info/header__user-info.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title-wrapper/profile__title-wrapper.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__remove/card__remove.css);
@import url(./blocks/card/__remove/_hidden/card__remove_hidden.css);

@import url(../src/blocks/popup/__tooltip/_image/popup__tooltip_image.css);
@import url(../src/blocks/popup/__tooltip/_message/popup__tooltip_message.css);
@import url(../src/blocks/popup/__tooltip-content/popup__tooltip-content.css);


@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_faded-in/popup_faded-in.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__form-inputs/popup__form-inputs.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__form-input/_error/popup__form-input_error.css);
@import url(./blocks/popup/__form-input-error/popup__form-input-error.css);
@import url(./blocks/popup/__form-input-error/_active/popup__form-input-error_active.css);

@import url(./blocks/popup/__form-button-submit/popup__form-button-submit.css);
@import url(./blocks/popup/__form-button-submit/_inactive/popup__form-button-submit_inactive.css);
@import url(./blocks/popup/__form-button-close/popup__form-button-close.css);
@import url(./blocks/popup/__form-button-close/_size/popup__form-button-close_size.css);

@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/_name/_show-image/popup_name_show-image.css);

@import url(../src/blocks/auth/auth.css);
@import url(../src/blocks/auth/__title/auth__title.css);
@import url(../src/blocks/auth/__form/auth__form.css);
@import url(../src/blocks/auth/__form-input/auth__form-input.css);
@import url(../src/blocks/auth/__form-submit-btn/auth__form-submit-btn.css);
@import url(../src/blocks/auth/__signup/auth__signup.css);
@import url(../src/blocks/popup/__tooltip/_image/popup__tooltip_image.css);
@import url(../src/blocks/popup/__tooltip/_message/popup__tooltip_message.css);
@import url(../src/blocks/auth/__signup/_text/auth__signup_text.css);
@import url(../src/blocks/auth/__signup/_link/auth__signup_link.css);
@import url(../src/blocks/auth/__form-submit-btn/_size/auth__form-submit-btn_size.css);


body {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000000;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}